/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* bootstrap-icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");
body {
  font-family: "Noto Serif", serif;
}

#my-navbar {
  color: purple;
}

.hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./images/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-style: italic;
}

h2 {
  text-align: center;
  font-style: italic;
  font-size: 2.5rem;
}

.example {
  background-color: rgba(109, 88, 54, 0.8);
}

footer div ul li a {
  font-size: 1.7rem;
}

/* bootstrap settings starts */
.card,
.btn {
  border-radius: unset;
}

.card {
  border: none;
}

.card-img,
.card-img-top {
  border-radius: unset;
}

.btn-outline-secondary {
  color: rgba(109, 88, 54, 0.8);
  border-color: rgba(109, 88, 54, 0.8);
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: rgba(109, 88, 54, 0.8);
  border-color: rgba(109, 88, 54, 0.8);
}
/* bootstrap settings ends */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
  h1 {
    font-size: 4rem;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 577px) {
  h1 {
    font-size: 6rem;
  }
}
/* tablets */
@media (min-width: 768px) {
  h1 {
    font-size: 7rem;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 992px) {
  h1 {
    font-size: 8rem;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1199.98px) {
}
