/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* bootstrap-icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

body {
  font-family: "Noto Serif", serif;
}

.bg-light {
  transition: 500ms ease;
  background-color: rgb(109, 88, 54) !important;
}

.card {
  border: none;
}

.btn,
.card,
.card-img,
.card-img-top {
  border-radius: unset;
}

.btn-outline-secondary {
  color: rgba(109, 88, 54, 0.8);
  border-color: rgba(109, 88, 54, 0.8);
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: rgba(109, 88, 54, 0.8);
  border-color: rgba(109, 88, 54, 0.8);
}

.nav-item .nav-link {
  color: rgba(109, 88, 54, 0.8);
}

.nav-item .nav-link:hover {
  color: black;
}

.navbar-brand {
  color: white !important;
}
.dropdown-menu {
  background-color: rgb(109, 88, 54) !important;
}
.dropdown-item:hover {
  background-color: unset;
}
.nav-color a {
  color: white !important;
}
.nav-color a:hover {
  color: black !important;
}

/* h1 styles starts */
h1 {
  font-style: italic;
  line-height: 11rem;
}
/* h1 styles ends */

/* border dropdown menu deleted start */
.dropdown-menu {
  border: none;
}
/* border dropdown menu deleted end */

/* responsive sidebar strats */
.sidebar-responsive li a {
  color: white !important;
}

.sidebar-responsive li a:hover {
  color: black !important;
}

.dropdown-divider {
  display: none;
}

.sidebar-responsive {
  display: none;
}

@media (max-width: 767px) {
  .dropdown-divider {
    display: revert;
  }

  .sidebar-responsive {
    display: revert;
  }
}
/* responsive sidebar ends */
