/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "Noto Serif", serif;
}

.card {
  border: none;
}

.btn,
.card,
.card-img,
.card-img-top {
  border-radius: unset;
}

.btn-outline-secondary {
  color: rgba(109, 88, 54, 0.8);
  border-color: rgba(109, 88, 54, 0.8);
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: rgba(109, 88, 54, 0.8);
  border-color: rgba(109, 88, 54, 0.8);
}

.nav-item .nav-link {
  color: rgba(109, 88, 54, 0.8);
}

.nav-item .nav-link:hover {
  color: black;
}
